.masthead.clearfix
  .inner
    h3.masthead-brand Survey Form
    nav
      ul.nav.masthead-nav
        li.active
          a(href="/") Home
        li
          a(href="/signin") Sign in
        li
          a(href="/register") Register
