extends layout

block content
  div
    h1 Survey for You
  
  div
    h1 설문 목록
    table.table
      tr
        th 제목
        th 작성일
      each survey in surveys
        tr
          td
            a(href='/surveys/#{survey.id}')= survey.title
          td= moment(survey.createdAt).format('YYYY/MM/DD')
