extends layout

block content
  h1= title 
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          h1.cover-heading 당신을 위한 설문조사를 만들어보세요.
          p.lead 지금 로그인을 하고 당신이 필요한 설문조사를 만들어 친구들에게 보내세요!
          p.lead
            a.btn.btn-lg.btn-default(href="/signin") Sign In
