extends ../layout

block content
  h1= question.content
  
  hr
  h3 답변 투표
  
  form.form-inline(action='/surveys/' + surveyid + '/question-select/' + question.id, method='POST')
    each answer in answers
      .form-group
        label(for='select')=answer.content
        input(type='radio', name='value', value = answer.content)
    button.btn.btn-info 투표
    
  hr
  a.btn.btn-default(href='/surveys/' + surveyid) 목록 
